*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#150804;
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
}




.container-animazione{
    position: relative;
    width: 100%;
    height: 100%;
    border: 5px solid white;
}

.tubo1{
    height: 130px;
    width: 92%;
    background-color: yellowgreen;
    position: absolute;
    bottom: 0px;
    right: 0;
    border: 2px solid black;
    margin-bottom: 30px;
}
.circle{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    left: 50px;
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: yellowgreen;
    z-index: 1;

}

.tubo3{
    height: 300px;
    width: 130px;
    position: absolute;
    bottom: 100px;
    left: 50px;
    background-color: yellowgreen;

}

.circle2{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: absolute;
    bottom: 300px;
    left: 40px;
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: yellowgreen;
    z-index: 1;
}

.tubo4{
        height: 130px;
    width: 82%;
    background-color: yellowgreen;
    position: absolute;
    bottom: 340px;
    right: 100px;
    border: 2px solid black;
}

.circle4{
        height: 180px;
    width: 180px;
    border-radius: 50%;
    position: absolute;
    bottom: 300px;
    right: 40px;
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: yellowgreen;
    z-index: 1;
}

.tubo5{
    height: 250px;
    width: 130px;
    position: absolute;
    bottom: 360px;
    right: 55px;
    background-color: yellowgreen;
}

.circle5{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: absolute;
    bottom: 550px;
    right: 40px;
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: yellowgreen;
    z-index: 1;
}

.tubo6{
    height: 130px;
    width: 82%;
    background-color: yellowgreen;
    position: absolute;
    top: 100px;
    right: 100px;
    border: 2px solid black;
}

.arrivo{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 10px;
    background-image: url('https://thumbs.dreamstime.com/b/arrivo-bianco-e-nero-ondulato-bandierina-checkered-20165793.jpg');
    background-position: center;
    background-size: cover;
}
/* https://www.boorp.com/facebook_gifs_animate/gif_animate_per_facebook/gif_animate_facebook_fame/tom_lecca_il_coperchio.gif */





/* div.line{
    width: 100vw;
    border-bottom: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* .mouse{ */
    width: 140px;
    height: 140px;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d1cea1e1-851b-4b62-8a11-9dfeeaa79b37/d9ic1r6-81b289dc-cab9-480b-b6a4-80fab855bf68.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZDFjZWExZTEtODUxYi00YjYyLThhMTEtOWRmZWVhYTc5YjM3XC9kOWljMXI2LTgxYjI4OWRjLWNhYjktNDgwYi1iNmE0LTgwZmFiODU1YmY2OC5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.bgVpyFYwRY8VB0kz1Y2ExAREI6Iw7h6DeZUyw3McjM4');
    background-position: center;
    background-size: cover;
    animation-name: eat;
    animation-duration: 15s;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #150804;
}

/* .cacciatore{ */
    /* width: 100px;
    height: 100px;    
    background-image: url('https://i0.wp.com/metropolitanmagazine.it/wp-content/uploads/2020/06/looney-tunes-sam.gif');
    background-position: center;
    background-size: cover;
    animation-name: run;
    animation-duration: 15s;
    position: absolute;
} */

/* @keyframes eat{ */
    0%   {right:0px; bottom:0px;}
    5%   {right: 60px; top: -100px;}
    10%  {right: 150px; top: -300px;}
    12%  {right: 200px; top: -70px;}
    14%  {right: 300px; top: 80px;}
    18%  {right: 800px; top: 50px;}
    20%  {right: 100px; top: 100px;}
    23%  {right: 200px; top: -200px;}
    24%  {right: 300px; top: -100px;}
    25%  {right: 500px; top:-30px;}
    26%  {right: 100px; top: 500px;}
    30%  {right: ; top: ;}
    35%  {right: ; top: ;}
    40%  {right: ; top: ;}
    42%  {right: ; top: ;}
    45%  {right: ; top: ;}
    48%  {right: ; top: ;}
    50%  {right:300px; top:200px;}
    55%  {right: ; top: ;}
    58%  {right: ; top: ;}
    60%  {right: ; top: ;}
    65%  {right: ; top: ;}
    68%  {right: ; top: ;}
    70%  {right: ; top: ;}
    75%  {right:0px; top:200px;}
    78%  {right: ; top: ;}
    80%  {right: ; top: ;}
    85%  {right: ; top: ;}
    88%  {right: ; top: ;}
    95%  {right: ; top: ;}
    98%  {right: ; top: ;}
   100%  {right:0px; top:0px;}
}

@keyframes run{
    0%   {right:-10px; top:0px;}
    25%  {right:450px; top:-30px;}
    50%  {right:200px; top:200px;}
    75%  {right:0px; top:200px;}
    100%  {right:0px; top:0px;}
}
