*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#150804;
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
}

.prova{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 40px;
}

.container-animazione{
    position: relative;
    width: 100%;
    height: 100%;
    border: 5px solid white;
}

.tubo1{
    height: 130px;
    width: 92%;
    background-color: yellowgreen;
    position: absolute;
    bottom: 0px;
    right: 0;
    border: 2px solid black;
    margin-bottom: 30px;
}

.circle{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    left: 2%;
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: yellowgreen;
    z-index: 1;
}

.tubo3{
    height: 300px;
    width: 130px;
    position: absolute;
    bottom: 5%;
    left: 3%;
    background-color: yellowgreen;
}

.circle2{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: absolute;
    bottom: 25%;
    left: 2%;
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: yellowgreen;
    z-index: 1;
}

.tubo4{
    height: 130px;
    width: 88%;
    background-color: yellowgreen;
    position: absolute;
    bottom: 28%;
    right: 7%;
    border: 2px solid black;
}

.circle4{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: absolute;
    bottom: 25%;
    right: 1%;
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: yellowgreen;
    z-index: 1;
}

.tubo5{
    height: 600px;
    width: 130px;
    position: absolute;
    bottom: 28%;
    right: 2%;
    background-color: yellowgreen;
}

.circle5{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: absolute;
    top: 11%;
    right: 1%;
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: yellowgreen;
    z-index: 1;
}

.tubo6{
    height: 130px;
    width: 82%;
    background-color: yellowgreen;
    position: absolute;
    top: 12%;
    right: 3%;
    border: 2px solid black;
}

.up{
    width: 40px;
    height: 40px;
    background:  linear(to top, rgb(228, 228, 130), rgba(255, 255, 255, 0.26));
    border: 1px solid white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.down{
    width: 40px;
    height: 40px;
    background:  linear(to top, rgb(228, 228, 130), rgba(255, 255, 255, 0.26));
    border: 1px solid white;
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
}

.left{
    width: 40px;
    height: 40px;
    background:  linear(to top, rgb(228, 228, 130), rgba(255, 255, 255, 0.26));
    border: 1px solid white;
    position: absolute;
    right: 18%;
    bottom: 8%;
    transform: translateX(-50%);
}

.right{
    width: 40px;
    height: 40px;
    background:  linear(to top, rgb(228, 228, 130), rgba(255, 255, 255, 0.26));
    border: 1px solid white;
    position: absolute;
    left: 30%;
    bottom: 8%;
    transform: translateX(-50%);
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

i{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mouse{
    width: 120px;
    height: 120px;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d1cea1e1-851b-4b62-8a11-9dfeeaa79b37/d9ic1r6-81b289dc-cab9-480b-b6a4-80fab855bf68.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZDFjZWExZTEtODUxYi00YjYyLThhMTEtOWRmZWVhYTc5YjM3XC9kOWljMXI2LTgxYjI4OWRjLWNhYjktNDgwYi1iNmE0LTgwZmFiODU1YmY2OC5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.bgVpyFYwRY8VB0kz1Y2ExAREI6Iw7h6DeZUyw3McjM4');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    z-index: 2;
    display: inline-block;
}

.cacciatore{
    width: 120px;
    height: 120px; 
    border-radius: 50%;   
    background-image: url('https://i0.wp.com/metropolitanmagazine.it/wp-content/uploads/2020/06/looney-tunes-sam.gif');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 150px;
    left: 200px;
} 

.none{
    display: none;
}

.active{
    display: inline-block;
}

.quadrato{
    position: absolute;
    width: 300px;
    height: 100px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid white;
}